[
	{emqx,[
		{route_batch_clean,false},
		{shared_dispatch_ack_enabled,false},
		{shared_subscription_strategy,random},
		{session_locking_strategy,quorum},
		{enable_session_registry,true},
		{broker_sys_heartbeat,30000},
		{broker_sys_interval,60000},
		{expand_plugins_dir,"etc/emqx/plugins/"},
		{plugins_loaded_file,"etc/emqx/data/loaded_plugins"},
		{plugins_etc_dir,"etc/emqx/plugins/etc/"},

		{allow_anonymous,false},
		{use_username_as_clientid,false},
		{bypass_auth_plugins,false},
		{enable_ban,true},
		{enable_acl,true},
		{enable_acl_cache,true},
		{acl_nomatch,deny},
		{acl_deny_action,ignore},
		{acl_cache_max_size,32},
		{acl_cache_ttl,60000},
		{acl_file,"etc/emqx/acl.conf"},
		
		
		{upgrade_qos,false},
		{strict_mode,false},
		{session_expiry_interval,7200},
		{retry_interval,30},
		{mqueue_store_qos0,true},
		{mqueue_priorities,none},
		{max_subscriptions,0},
		{max_mqueue_len,1000},
		{max_inflight,32},
		{max_awaiting_rel,100},
		{keepalive_backoff,0.75},
		{ignore_loop_deliver,false},
		{idle_timeout,15000},
		{enable_stats,true},
		{enable_flapping_detect,false},
		{await_rel_timeout,300},
		{shared_subscription,true},
		{wildcard_subscription,true},
		{retain_available,true},
		{max_topic_alias,65535},
		{max_qos_allowed,2},
		{max_topic_levels,0},
		{max_clientid_len,65535},
		{max_packet_size,1048576},
		
		{rpc_mode,async},
		{global_gc_interval,900},
		{data_dir,"data"},
		{flapping_detect_policy,#{
			banned_interval => 300,
			duration => 60000,
			threshold => 30
		}},
		{zones,[
			{external_insecure,[
				{mqueue_default_priority,highest},
				{force_gc_policy,#{bytes => 16777216,count => 16000}}
			]},
			{external_secure,[
				{allow_anonymous,true},
				{bypass_auth_plugins,true},

				{mqueue_default_priority,highest},
				{force_gc_policy,#{bytes => 16777216,count => 16000}}
			]},
			{internal,[
				{bypass_auth_plugins,true},
				{allow_anonymous,true},
				{enable_ban,false},
				{enable_acl,false},

				{mqueue_default_priority,lowest},
				{max_mqueue_len,10000},
				{max_inflight,128},
				{max_awaiting_rel,1000}
			]}
		]},
		{listeners,[
			{tcp,{"127.0.0.1",11883},[
				{deflate_options,[]},
				{tcp_options,[
					{backlog,512},
					{send_timeout,5000},
					{send_timeout_close,true},
					{recbuf,65536},
					{sndbuf,65536},
					{nodelay,false},
					{reuseaddr,true}
				]},
				{acceptors,4},
				{max_connections,1024000},
				{max_conn_rate,1000},
				{active_n,1000},
				{zone,internal}
			]},
			{tcp,{"0.0.0.0",1883},[
				{deflate_options,[]},
				{tcp_options,
					[{backlog,1024},
						{send_timeout,15000},
						{send_timeout_close,true},
						{nodelay,true},
						{reuseaddr,true}]},
				{acceptors,8},
				{max_connections,1024000},
				{max_conn_rate,1000},
				{active_n,100},
				{zone,external_insecure},
				{access_rules,[{allow,all}]}
			]},
			{ws,8083,[
				{deflate_options,[]},
				{tcp_options,
					[{backlog,1024},
						{send_timeout,15000},
						{send_timeout_close,true},
						{nodelay,true}]},
				{acceptors,4},
				{mqtt_path,"/mqtt"},
				{max_connections,102400},
				{max_conn_rate,1000},
				{active_n,100},
				{zone,external_insecure},
				{verify_protocol_header,true},
				{access_rules,[{allow,all}]}
			]},
			{ssl,8883,[
				{deflate_options,[]},
				{tcp_options,[
					{backlog,1024},
					{send_timeout,15000},
					{send_timeout_close,true},
					{nodelay,true},
					{reuseaddr,true}
				]},
				{ssl_options,[
					{ciphers,[
						"ECDHE-ECDSA-AES256-GCM-SHA384","ECDHE-RSA-AES256-GCM-SHA384",
						"ECDHE-ECDSA-AES256-SHA384","ECDHE-RSA-AES256-SHA384",
						"ECDHE-ECDSA-DES-CBC3-SHA","ECDH-ECDSA-AES256-GCM-SHA384",
						"ECDH-RSA-AES256-GCM-SHA384","ECDH-ECDSA-AES256-SHA384",
						"ECDH-RSA-AES256-SHA384","DHE-DSS-AES256-GCM-SHA384",
						"DHE-DSS-AES256-SHA256","AES256-GCM-SHA384","AES256-SHA256",
						"ECDHE-ECDSA-AES128-GCM-SHA256","ECDHE-RSA-AES128-GCM-SHA256",
						"ECDHE-ECDSA-AES128-SHA256","ECDHE-RSA-AES128-SHA256",
						"ECDH-ECDSA-AES128-GCM-SHA256","ECDH-RSA-AES128-GCM-SHA256",
						"ECDH-ECDSA-AES128-SHA256","ECDH-RSA-AES128-SHA256",
						"DHE-DSS-AES128-GCM-SHA256","DHE-DSS-AES128-SHA256",
						"AES128-GCM-SHA256","AES128-SHA256","ECDHE-ECDSA-AES256-SHA",
						"ECDHE-RSA-AES256-SHA","DHE-DSS-AES256-SHA",
						"ECDH-ECDSA-AES256-SHA","ECDH-RSA-AES256-SHA","AES256-SHA",
						"ECDHE-ECDSA-AES128-SHA","ECDHE-RSA-AES128-SHA",
						"DHE-DSS-AES128-SHA","ECDH-ECDSA-AES128-SHA","ECDH-RSA-AES128-SHA",
						"AES128-SHA"
					]},
					{handshake_timeout,15000},
					{keyfile,"etc/certs/node.key.pem"},
					{certfile,"etc/certs/node.cert.pem"},
					{cacertfile,"etc/certs/ca-chain.cert.pem"},
					{verify,verify_peer},
					{fail_if_no_peer_cert,true},
					{reuse_sessions,true}
				]},
				{acceptors,16},
				{max_connections,102400},
				{max_conn_rate,500},
				{active_n,100},
				{zone,external_secure},
				{peer_cert_as_username, cn},
				{access_rules,[{allow,all}]}
			]},
			{wss,8084,[
				{deflate_options,[]},
				{tcp_options,[
					{backlog,1024},
					{send_timeout,15000},
					{send_timeout_close,true},
					{nodelay,true}
				]},
				{ssl_options,[
					{ciphers,[
						"ECDHE-ECDSA-AES256-GCM-SHA384","ECDHE-RSA-AES256-GCM-SHA384",
						"ECDHE-ECDSA-AES256-SHA384","ECDHE-RSA-AES256-SHA384",
						"ECDHE-ECDSA-DES-CBC3-SHA","ECDH-ECDSA-AES256-GCM-SHA384",
						"ECDH-RSA-AES256-GCM-SHA384","ECDH-ECDSA-AES256-SHA384",
						"ECDH-RSA-AES256-SHA384","DHE-DSS-AES256-GCM-SHA384",
						"DHE-DSS-AES256-SHA256","AES256-GCM-SHA384","AES256-SHA256",
						"ECDHE-ECDSA-AES128-GCM-SHA256","ECDHE-RSA-AES128-GCM-SHA256",
						"ECDHE-ECDSA-AES128-SHA256","ECDHE-RSA-AES128-SHA256",
						"ECDH-ECDSA-AES128-GCM-SHA256","ECDH-RSA-AES128-GCM-SHA256",
						"ECDH-ECDSA-AES128-SHA256","ECDH-RSA-AES128-SHA256",
						"DHE-DSS-AES128-GCM-SHA256","DHE-DSS-AES128-SHA256",
						"AES128-GCM-SHA256","AES128-SHA256","ECDHE-ECDSA-AES256-SHA",
						"ECDHE-RSA-AES256-SHA","DHE-DSS-AES256-SHA",
						"ECDH-ECDSA-AES256-SHA","ECDH-RSA-AES256-SHA","AES256-SHA",
						"ECDHE-ECDSA-AES128-SHA","ECDHE-RSA-AES128-SHA",
						"DHE-DSS-AES128-SHA","ECDH-ECDSA-AES128-SHA","ECDH-RSA-AES128-SHA",
						"AES128-SHA"
					]},
					{keyfile,"etc/certs/node.key.pem"},
					{certfile,"etc/certs/node.cert.pem"},
					{cacertfile,"etc/certs/ca-chain.cert.pem"},
					{verify,verify_peer},
					{fail_if_no_peer_cert,true},
					{reuse_sessions,true}
				]},
				{acceptors,4},
				{mqtt_path,"/mqtt"},
				{max_connections,16},
				{max_conn_rate,1000},
				{active_n,100},
				{zone,external_secure},
				{verify_protocol_header,true},
				{access_rules,[{allow,all}]}
			]}
		]},	%% End listeners
		{modules,[{emqx_mod_presence,[{qos,1}]}]},
		{sysmon,[
			{busy_dist_port,true},
			{busy_port,false},
			{large_heap,8388608},
			{long_schedule,240},
			{long_gc,0}
		]},
		{os_mon,[
			{procmem_high_watermark,0.05},
			{sysmem_high_watermark,0.7},
			{mem_check_interval,60},
			{cpu_low_watermark,0.6},
			{cpu_high_watermark,0.8},
			{cpu_check_interval,60}
		]},
		{vm_mon,[
			{process_low_watermark,0.6},
			{process_high_watermark,0.8},
			{check_interval,30}]}
	]},
	{gen_rpc,[
		{socket_buffer,1048576},
		{socket_recbuf,1048576},
		{socket_sndbuf,1048576},
		{socket_keepalive_count,9},
		{socket_keepalive_interval,75},
		{socket_keepalive_idle,900},
		{call_receive_timeout,15000},
		{authentication_timeout,5000},
		{send_timeout,5000},
		{connect_timeout,5000},
		{tcp_client_port,5369},
		{tcp_server_port,5369},
		{max_batch_size,256},
		{tcp_client_num,2}
	]},
	{ekka,[
		{proto_dist,inet_tcp},
		{cluster_autoheal,false},
		{cluster_autoclean,3153600000000},
		{cluster_name,emqxcl},
		{cluster_discovery,{manual,[]}}
	]},
	{emqx_psk_file,[
		{path,"etc/emqx/clients.txt"},
		{delimiter,":"}
	]}
].
